.col{
    text-align: center;
}
.corpo{
    background-color: dimgrey; color: rgb(211, 211, 211);
}

.texto_lg{
    font-size: larger;
}

.texto_sm{
    font-size: small;
}

.fonte{
    font-family: 'Times New Roman', Times, serif;
}