.col{
    text-align: center;
    text-align: justify;
}

.anuncio{
  width: 200px; /* Ajuste a largura conforme necessário */
  padding: 15px;
  background-color: #f0f0f0; /* Adicione um fundo opcional */
  border: 1px solid #000000; /* Adicione uma borda opcional */
  text-align: left; /* Alinha o texto à esquerda */
}

.corpo{
    background-color: dimgrey; color: rgb(211, 211, 211);
}

.texto_lg{
    font-size: larger;
}

.texto_sm{
    font-size: small;
}

.fonte{
    font-family: 'Times New Roman', Times, serif;
}